<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <appSettings>
    <add key="mail:smtp:server" value="fakesmtp" />
    <add key="mail:smtp:port" value="5000" />
    <add key="mail:smtp:useSsl" value="true" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>